@mixin center_flex($flex-direction-value,$align-position-value : center,$justify-content-value : center)
{
    display: flex;
    flex-direction: $flex-direction-value;
    justify-content: $justify-content-value;
    align-items: $align-position-value;
}
@mixin button($bg-color,$text-color:white,$pd:1em)
{
    cursor: pointer;
    padding: $pd;
    background-color: $bg-color;
    color: $text-color;
}
@mixin dimension($height-value,$width-value:100%){
    height: $height-value;
    width: $width-value;
}